.cabecalho {
    background-color: #252323;
    color: #fdfdfd;
    font-family: var(--montserrat);
    text-align: center;
}

.cabecalho_container {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}

.cabecalho_titulo {
    font-size: 2em;
}

.cabecalho_nav_list {
    margin: auto;
}

.cabecalho_nav_item {
    color: #fdfdfd;
    display: inline-block;
    margin-left: 2em;
}

.cabecalho_nav_item a {
    color: #fdfdfd;
    font-size: 1.2em;
    text-decoration: none;
}

@media screen and (min-width: 320px) {
    .cabecalho_container {
        flex-direction: column;
    }
    .cabecalho_nav {
        flex-flow: row wrap;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 768px) {
    .cabecalho_container {
        flex-direction: column;
    }
    .cabecalho_nav {
        flex-flow: row wrap;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1024px) {
    .cabecalho_container {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
}