.cabecalho {
  background-color: #252323;
  color: #fdfdfd;
  font-family: var(--montserrat);
  text-align: center;
}

.cabecalho_container {
  display: flex;
}

.cabecalho_titulo {
  font-size: 2em;
}

.cabecalho_nav_list {
  padding: 0;
}

.cabecalho_nav_item {
  color: #fdfdfd;
  display: inline-block;
  margin-left: 2em;
}

.cabecalho_nav_item a {
  color: #fdfdfd;
  font-size: 1.2em;
  text-decoration: none;
}

.cabecalho_nav_item a:hover {
  border-bottom: 2px solid #fdfdfd;
  color: darksalmon;
  transition: color 0.6s;
}

@media screen and (max-width: 1024px) {
  .cabecalho_container {
    align-items: center;
    flex-direction: column;
  }

  .cabecalho_nav_item {
    margin: 1em;
  }
}

@media screen and (min-width: 1024px) {
  .cabecalho_container {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}
