:root {
  --montserrat: "Montserrat", sans-serif;
  --fundo1: #F5F1ED;
  --fundo2: #9C89B8;
  --colorGeral: #252323;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  margin: auto;
  width: 80%;
}
